In [1]:
!pip install ipython-sql
!pip install ibm-db-sa
!pip install sqlalchemy==1.3.9
%load_ext sql
%config SqlMagic.autocommit=True

Requirement already satisfied: ipython-sql in c:\users\as_mr\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: ipython>=1.0 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython-sql) (7.19.0)
Requirement already satisfied: prettytable<1 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\as_mr\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: sqlparse in c:\users\as_mr\anaconda3\lib\site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: decorator in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.8)
Requirement already satisfied: backcall in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: jedi>=0.10 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: pygments in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.7.2)
Requirement already satisfied: setuptools>=18.5 in c:\users\as_mr\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (50.3.1.post20201107)
Requirement already satisfied: wcwidth in c:\users\as_mr\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\as_mr\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: ibm-db-sa in c:\users\as_mr\anaconda3\lib\site-packages (0.3.6)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\as_mr\anaconda3\lib\site-packages (from ibm-db-sa) (3.0.4)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\as_mr\anaconda3\lib\site-packages (from ibm-db-sa) (1.3.9)
Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\as_mr\anaconda3\lib\site-packages (1.3.9)

In [2]:
dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"            # i.e. "TCPIP"



%sql ibm_db_sa://ghp51571:mzglvklhj76v-krc@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB

DB2/LINUXX8664

In [3]:
#1 Find the total number of crimes recorded in the CRIME table.

%sql select count(*) from CHICAGO_CRIME_DATA;

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

In [4]:
#2 List community areas with per capita income less than 11000.

%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000;

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

In [5]:
#3 List all case numbers for crimes involving minors?

%sql select * FROM CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%MINOR%';

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(3987219, 'HL266884', datetime.date(2005, 3, 31), '024XX N CLARK ST', '2210', 'LIQUOR LAW VIOLATION', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'CONVENIENCE STORE', 'TRUE', 'FALSE', 2333, 19, 43, 7, '22', 1172680, 1916483, 2005, Decimal('41.92626872'), Decimal('-87.64089934'), '(41.926268719, -87.640899336)'),
 (3266814, 'HK238408', datetime.date(2004, 3, 13), '093XX S STONY ISLAND AVE', '2230', 'LIQUOR LAW VIOLATION', 'ILLEGAL CONSUMPTION BY MINOR', 'ALLEY', 'TRUE', 'FALSE', 413, 4, 8, 48, '22', 1188539, 1843379, 2004, Decimal('41.72530099'), Decimal('-87.58496589'), '(41.72530099, -87.584965887)')]

In [6]:
#4 List all kidnapping crimes involving a child?

%sql select * FROM CHICAGO_CRIME_DATA where PRIMARY_TYPE = 'KIDNAPPING'

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(5276766, 'HN144152', datetime.date(2007, 1, 26), '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 'FALSE', 'FALSE', 1533, 15, 29, 25, '20', 1143050, 1897546, 2007, Decimal('41.87490841'), Decimal('-87.75024931'), '(41.874908413, -87.750249307)')]

In [7]:
#5 What kinds of crimes were recorded at schools?

%sql select DISTINCT(PRIMARY_TYPE) FROM CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION LIKE 'SCHOOL%'

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('ASSAULT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('CRIMINAL TRESPASS',),
 ('NARCOTICS',),
 ('PUBLIC PEACE VIOLATION',)]

In [8]:
#6 List the average safety score for all types of schools. #  GROUP BY Elementary_Middle_HighSchool


%sql select EMH, AVG(SAFETY_SCORE) as AVERAGE_SCORE from CHICAGO_PUBLIC_SCHOOLS GROUP BY EMH;

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('ES', Decimal('49.520383')),
 ('HS', Decimal('49.623529')),
 ('MS', Decimal('48.000000'))]

In [9]:
#7 List 5 community areas with highest % of households below poverty line

%sql select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5;

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

In [10]:
#8 Which community area is most crime prone?

%sql select COMMUNITY_AREA_NUMBER, COUNT(COMMUNITY_AREA_NUMBER) as freq_of_crime from CHICAGO_CRIME_DATA GROUP \
BY COMMUNITY_AREA_NUMBER ORDER BY freq_of_crime desc LIMIT 1;

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, Decimal('43'))]

In [11]:
#9 Use a sub-query to find the name of the community area with highest hardship index


%sql select COMMUNITY_AREA_NUMBER as C_NUM, COMMUNITY_AREA_NAME as C_NAME, HARDSHIP_INDEX from CENSUS_DATA \
    where HARDSHIP_INDEX = (select MAX(HARDSHIP_INDEX) from CENSUS_DATA)

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(54, 'Riverdale', 98)]

In [12]:
#10 Use a sub-query to determine the Community Area Name with most number of crimes?


%sql select COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME from CENSUS_DATA \
where COMMUNITY_AREA_NUMBER in (select COMMUNITY_AREA_NUMBER from CHICAGO_CRIME_DATA \
GROUP BY COMMUNITY_AREA_NUMBER ORDER BY COUNT(COMMUNITY_AREA_NUMBER) desc limit 1);

 * ibm_db_sa://ghp51571:***@dashdb-txn-sbox-yp-dal09-11.services.dal.bluemix.net:50000/BLUDB
Done.

[(25, 'Austin')]